/.vscode
/android.txt
/bootstrap.html
/django.txt
/git.txt
/index.js
/index.php
/index1.php
/indexboot.php
/javascript.html
/miffy.txt
/mongodb.txt
/my-app
/next js text
/nodejs.js
/practice.py
/project.html
/python.py
/react.js
/sql_php _connection
/style.css